<div>
<img src="../../assets/Untitled-2.jpg" alt="image not found" style="width:100%;height:96vh;">
</div>
<br>
<div style="position: fixed;right: 36vw;top: 24vh;background-color: white;height: 60vh;width: 26vw;">
    <img src="../../assets/nick.jpg" alt="" style="height: 10vw;width: 10vw;" >

<br>
<p style="margin: 4px 32px 7px 90px;">Login into your account</p>



<input style="margin: 4px 32px 7px 50px;width: 67%;height: 25px;" type="text" class="form-control" placeholder="Enter Your Name">
<br>
<input style="margin: 4px 32px 7px 50px;width: 67%;height: 25px;" type="password" placeholder="Password..">
<br>
<label class="container">Remember Me
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>

    <button style="margin: 4px 32px 7px 50px;" (click)="nav()" >Login</button>
</div>

